<h1><%= @recipe.name %></h1>
<p>Description: <%= @recipe.description %></p>

<p>Ingredients: </p>
<ul>
<% @ingredients.each do |ingredient| %>
<li> <%= ingredient.name %> (<%= ingredient.kind %>)</li>
<% end %>
</ul>

